---
import BrandLogo from '@components/ui/logos/BrandLogo.astro'
import { SITE } from '@/config';
---

<footer class="w-full bg-neutral-300 dark:bg-neutral-900 mt-auto">
    <div
        class="mx-auto w-full max-w-[85rem] px-4 py-2 sm:px-6 lg:px-16 2xl:max-w-screen-2xl"
    >
        <div class="flex justify-evenly items-center">
            <div
                class="col-span-full flex justify-center sm:grid sm:col-span-1"
            >
                <BrandLogo class="h-auto w-[50px] rounded-full" />
            </div>
            <div class="flex items-center text-center justify-center">
                <p class="text-sm text-neutral-600 dark:text-neutral-400">
                    © <span id="current-year">2024</span>
                    {SITE.title}
                </p>
            </div>
        </div>
    </div>
</footer>
